<div class="bg-gray-200 p-4 rounded animate-pulse lg:max-w-[1180px] w-[80vw]">
    <div class="flex gap-6">
        <div>
            <div class="h-[200px] bg-gray-300 rounded-[50%] mb-2 w-[200px]"></div>
            <div class="h-4 bg-gray-300 rounded mb-2 w-[200px]"></div>
            <div class="h-4 bg-gray-300 rounded mb-2 w-[200px]"></div>
            <div class="h-4 bg-gray-300 rounded mb-2 w-[200px]"></div>
        </div>
        <div class="w-full mt-6">
            <div class="h-4 bg-gray-300 rounded mb-2 "></div>
            <div class="h-4 bg-gray-300 rounded mb-2"></div>
            <div class="h-4 bg-gray-300 rounded mb-2"></div>
            <div class="h-28 mt-4 bg-gray-300 rounded mb-2"></div>
        </div>

    </div>
</div>