<app-error *ngIf="profileError" [errorState]="profileError" [errorMessage]="'Error in loading profile'"></app-error>
<app-error *ngIf="repoError" [errorState]="repoError" [errorMessage]="'Error in loading repositories'"></app-error>

<div class="container">
  <div class="flex justify-center py-6 mb-2">
    <div class="">
      <div>
        <form (ngSubmit)="searchGithubUser()" id="search-form" #f="ngForm" class="flex gap-2 items-center">
          <div>
            <input type="text"
              class="border-red rounded-2xl p-2 min-w-[340px] border-2 border-[#d5d3d3] active:border-[#d5d3d3] selected:border-[#d5d3d3] touched:border-[#d5d3d3]"
              ngModel name="search" placeholder="Enter github username to search..." required #search="ngModel">
          </div>
          <button type="submit" class="flex justify-center items-center" [disabled]="!f.valid">
            <div
              class=" bg-[#b7b4b1] p-2 rounded-[50%] h-[40px] w-[40px] p-2 cursor-pointer flex justify-center items-center"
              [ngClass]="{'bg-[#0000005c]':!f.valid}">
              <!-- Search User <i class="fa fa-arrow-right"></i> -->
              <img class="h-[20px]" src="../../assets/icons/Search.svg" alt="search">
            </div>
          </button>
        </form>
        <p class="text-red" *ngIf="!search.valid && search.touched"><small class="text-red-500">Fill in
            field!</small></p>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center items-center flex-col">
  <app-profile-skeleton *ngIf="profileLoading"></app-profile-skeleton>
  <div class="container lg:max-w-[1180px] lg:max-w-[80vw]">
    <div class="flex gap-2 md:gap-8 justify-between" *ngIf="!profileError">
      <div class="md:w-2/5">
        <div class="flex justify-center items-center flex-col gap-2">
          <img class="w-[200px] rounded-[50%]" [src]="user.avatar_url" alt="My Image">
          <div class="card">
            <p class="font-bold text-[24px] text-[#515151] name">{{user.name}}</p>
            <p class="text-[20px] text-[#515151] username">{{user.login}}</p>
            <!-- <p>Joined on: <span class="badge rounded-pill bg-warning text-dark">{{user.created_at|date}}</span></p> -->
            <div class="flex gap-2" >
              <p>{{user.followers}} Followers</p>
              <p>{{user.following}} Following</p>
            </div>
          </div>
        </div>
      </div>

      <div class="md:w-3/5 py-4">
        <div class="card">
          <ul class="list-group text-[18px]">
            <li class="list-group-item" *ngIf="user.name">Name: <span class="text-[16px]">{{user.name}}</span></li>
            <li class="list-group-item" *ngIf="user.location">Address: <span
                class="text-[16px]">{{user.location}}</span></li>
            <li class="list-group-item" *ngIf="user.public_repos">Public repositories: <span
                class="badge rounded-pill bg-warning text-dark text-[16px]">{{user.public_repos}} repository</span></li>
          </ul>
        </div>
        <div class="card" *ngIf="user.bio">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">About me</li>
            <li class="list-group-item">
              <p>{{user.bio}}</p>
            </li>
          </ul>
        </div>
        <div class="card">
          <div class="flex gap-2 items-center">
            <h2 class="text-[18px]">Github</h2>
            <h5 class="list-group-item">
              <div class="bg-[#f0eeee] p-2 py-1 rounded-xl"><a class="btn btn-sm"
                  href="https://github.com/{{ user.login }}" target="_blank" rel="noopener noreferrer">View Github</a>
              </div>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container lg:max-w-[1180px] lg:max-w-[80vw] my-4" id="repository">
    <div class="flex justify-between  ">
      <div>
        <h1 class="font-bold text-[24px] text-[#515151] px-8">My Repositories</h1>
      </div>
      <div class="px-8"> <select [(ngModel)]="perPage" (change)="handlePerPageChange()" >
          <option *ngFor="let option of perPageOptions" [value]="option">{{ option }}</option>
        </select></div>
    </div>
    <div class="flex flex-wrap mx-1 justify-between" *ngIf="repoLoading">
      <div *ngFor="let data of [0,1,2,3,4,5,6,7,8,9]">
        <app-repo-skeleton></app-repo-skeleton>
      </div>
    </div>

    <div class="flex flex-wrap mx-1 justify-between">
      <div
        class="item col-xs-12 col-sm-6 col-md-4 min-w-[320px] md:max-w-[340px] md:w-[340px] mx-2 my-4 p-2 py-4 rounded-md bg-[#f0eeee] flex flex-col flex-1"
        *ngFor="let repository of repositories | paginate: { itemsPerPage: perPage, currentPage: currentPage }  let i=index">
        <div class="card flex flex-col justify-between h-full">
          <div class="card-body text-center">
            <h4 class="card-title heading text-[18px] capitalize">{{repository.name}}</h4>
            <p class="card-text italic">{{repository.description}}</p>
          </div>
          <div class="card-body text-start px-4 my-2 flex flex-col justify-between">
            <div>
              <p>Language: {{repository.language}}</p>
              <p class="card-text">Created on: <span class="badge rounded-pill bg-warning text-dark">{{
                  formatDateString(repository.created_at)}}</span></p>
            </div>

          </div>
          <div class="bg-[#dddddd] py-1 mt-2 text-center cursor-pointer px-3">
            <a href="{{repository.html_url }}" target="_blank">View repository <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <nav class="mt-4 mx-4">
      <div class="list">
        <div class="pagination">
          <button class="p-1 py-1 rounded text-[#fff] mx-2 bg-[#00aeff] " (click)="onPageChange(currentPage - 1)"
            [disabled]="currentPage === 1">Previous</button>
          <span>{{ currentPage }}</span>
          <button class="p-4 py-1 rounded text-[#fff] mx-2 bg-[#00aeff] " (click)="onPageChange(currentPage + 1)"
            [disabled]="currentPage === totalPages || repoLoading || repoError || profileError">Next</button>
        </div>

      </div>
    </nav>
  </div>

</div>