<div
    class="bg-gray-200 p-4 rounded animate-pulse lg:max-w-[1180px] w-[80vw]  item col-xs-12 col-sm-6 col-md-4 min-w-[320px] md:max-w-[340px] h-[200px] md:w-[340px] mx-2 my-4 p-2 py-4 rounded-md bg-[#f0eeee] flex flex-col flex-1">
    <div class="w-full mt-6">
        <div class="h-4 bg-gray-300 rounded mb-2 "></div>
        <div class="h-4 bg-gray-300 rounded mb-2"></div>
        <div class="h-4 bg-gray-300 rounded mb-2"></div>
        <div class="h-4 bg-gray-300 rounded mb-2"></div>
        <div class="h-8 mt-4 bg-gray-300 rounded mb-2"></div>
    </div>

</div>